.none {
    display: none;
}

.van-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

* {
    margin: 0;
    padding: 0;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

@font-face {
    font-weight: 400;
    font-family: vant-icon;
    font-style: normal;
    font-display: auto;
    src: url("../vant/vant-icon-0bc654.woff2") format("woff2"), url("../vant/vant-icon-0bc654.woff") format("woff"), url("../vant/vant-icon-0bc654.ttf") format("truetype")
}

.van-icon {
    position: relative;
    font: 14px/1 vant-icon;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.van-icon-user-circle-o:before {
    content: "\F0D3";
}

.van-icon, .van-icon:before {
    display: inline-block;
}

.van-icon-gift-o:before {
    content: "\F0DB";
}

.van-icon-balance-o:before {
    content: "\F013";
}

.van-icon-contact:before {
    content: "\F03E";
}

.van-icon-tqkj:before {
    content: "\F0D0";
}

.van-tabbar--fixed {
    position: fixed;
    bottom: 0;
    left: 0;
}

@media only screen and (min-width:600px) {
    body {
        margin: 0 auto!important;
        width: 600px;
    }
    .side-bar {
        left: inherit!important;
    }
    #app .van-hairline--top-bottom {
        max-width: 600px;
        left: inherit;
        margin: 0 auto;
    }
}

html::-webkit-scrollbar {
    width: 5px;
    height: 100%;
    background-color: #d6d4d4
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, .1);
    -webkit-box-shadow: inset 0 0 6px rgb(255 236 75)
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255, 0, 0, .4)
}

.side-bar::-webkit-scrollbar {
    width: 5px;
    height: 100%;
    background-color: #d6d4d4;
}

.winAlert audio {
    display: none!important;
}

.winAlert {
    margin-top: -150px!important;
    background: none!important;
    box-shadow: unset!important;
}

.winAlert .layui-layer-ico {}

.winAlertTitle {
    position: absolute;
    bottom: 87px;
    font-size: 18px;
    left: 20px;
    color: #fff;
    width: 223px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    word-break: normal;
}

.winAlert .layui-layer-setwin {
    bottom: 5px;
    left: 50%;
    margin-left: -15px;
    top: unset;
    right: unset;
}

.winAlert4Title {
    position: absolute;
    top: 218px;
    font-size: 15px;
    left: 108px;
    text-align: center;
    color: #ea4633;
    width: 190px;
    white-space: break-spaces;
}

.van-tabbar-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    color: #7d7e80;
    font-size: 13px;
    line-height: 1
}

.van-tabbar-item__icon {
    position: relative;
    margin-bottom: 5px;
    font-size: 18px
}

.van-tabbar-item__icon .van-icon {
    display: block;
    min-width: 1em
}

.van-tabbar-item__icon img {
    display: block;
    height: 20px
}

.van-tabbar-item--active {
    color: #354171
}

.van-tabbar-item .van-info {
    margin-top: 2px
}

.van-tabbar {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    box-sizing: content-box;
    width: 100%;
    height: 50px;
    background-color: #fff
}

.van-tabbar--fixed {
    position: fixed;
    bottom: -1px;
    left: 0
}

.van-tabbar--safe-area-inset-bottom {
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom)
}

.page-title {
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #000;
    background: #ffc042;
    position: relative;
    font-size: 16px;
}

.codeNewPeriod0 {
    display: none;
}

.goBack {
    position: absolute;
    left: 5px;
}

.finished-tip {
    text-align: center;
    font-size: 14px;
    color: #ababab;
    margin-top: 10px;
}
