#app {
    font-family: Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.side-bar {
    position: fixed;
    -width: 85px;
    height: -webkit-calc(100vh - 50px);
    height: calc(100vh - 50px);
    left: 0;
    top: 0;
    overflow-y: auto
}

.van-notice-bar {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 40px;
    padding: 0 16px;
    color: #ed6a0c;
    font-size: 14px;
    line-height: 24px;
    background-color: #fffbe8
}

.van-notice-bar__left-icon, .van-notice-bar__right-icon {
    min-width: 22px;
    font-size: 16px
}

.van-notice-bar__right-icon {
    text-align: right
}

.van-notice-bar__wrap {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    height: 24px;
    overflow: hidden
}

.van-notice-bar__content {
    position: absolute;
    white-space: nowrap
}

.van-notice-bar__content.van-ellipsis {
    max-width: 100%
}

.van-notice-bar__play {
    -webkit-animation: van-notice-bar-play linear both;
    animation: van-notice-bar-play linear both
}

.van-notice-bar__play--infinite {
    -webkit-animation: van-notice-bar-play-infinite linear infinite both;
    animation: van-notice-bar-play-infinite linear infinite both
}

.van-notice-bar--wrapable {
    height: auto;
    padding: 8px 16px
}

.van-notice-bar--wrapable .van-notice-bar__wrap {
    height: auto
}

.van-notice-bar--wrapable .van-notice-bar__content {
    position: relative;
    white-space: normal;
    word-wrap: break-word
}

@-webkit-keyframes van-notice-bar-play {
    to {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0)
    }
}

@keyframes van-notice-bar-play {
    to {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0)
    }
}

@-webkit-keyframes van-notice-bar-play-infinite {
    to {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0)
    }
}

@keyframes van-notice-bar-play-infinite {
    to {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0)
    }
}

.van-stepper {
    font-size: 0;
    -webkit-user-select: none;
    user-select: none
}

.van-stepper__minus, .van-stepper__plus {
    position: relative;
    box-sizing: border-box;
    width: 28px;
    height: 28px;
    margin: 0;
    padding: 4px;
    color: #323233;
    vertical-align: middle;
    background-color: #f2f3f5;
    border: 0
}

.van-stepper__minus:before, .van-stepper__plus:before {
    width: 13px;
    height: 1px
}

.van-stepper__minus:after, .van-stepper__plus:after {
    width: 1px;
    height: 13px
}

.van-stepper__minus:after, .van-stepper__minus:before, .van-stepper__plus:after, .van-stepper__plus:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-color: currentColor;
    content: ""
}

.van-stepper__minus:active, .van-stepper__plus:active {
    background-color: #e8e8e8
}

.van-stepper__minus--disabled, .van-stepper__plus--disabled {
    color: #c8c9cc;
    background-color: #f7f8fa
}

.van-stepper__minus--disabled:active, .van-stepper__plus--disabled:active {
    background-color: #f7f8fa
}

.van-stepper__minus {
    border-radius: 4px 0 0 4px
}

.van-stepper__minus:after {
    display: none
}

.van-stepper__plus {
    border-radius: 0 4px 4px 0
}

.van-stepper__input {
    box-sizing: border-box;
    width: 32px;
    height: 28px;
    margin: 0 2px;
    padding: 0;
    color: #323233;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    background-color: #f2f3f5;
    border: 0;
    border-width: 1px 0;
    border-radius: 0;
    -webkit-appearance: none
}

.van-stepper__input[disabled] {
    color: #c8c9cc;
    background-color: #f2f3f5
}

.van-stepper input[type=number]::-webkit-inner-spin-button, .van-stepper input[type=number]::-webkit-outer-spin-button {
    margin: 0;
    -webkit-appearance: none
}

.van-sidebar-item {
    display: block;
    box-sizing: border-box;
    padding: 16px 12px 16px 8px;
    overflow: hidden;
    color: #323233;
    font-size: 14px;
    line-height: 16px;
    word-wrap: break-word;
    background-color: #fafafa;
    border-left: 3px solid transparent;
    -webkit-user-select: none;
    user-select: none
}

.van-sidebar-item__text {
    position: relative;
    display: inline-block
}

.van-sidebar-item:active {
    background-color: #f2f3f5
}

.van-sidebar-item:not(:last-child):after {
    border-bottom-width: 1px
}

.van-sidebar-item--select {
    color: #323233;
    font-weight: 500;
    border-color: #ffc042
}

.van-sidebar-item--select:after {
    border-right-width: 1px
}

.van-sidebar-item--select, .van-sidebar-item--select:active {
    background-color: #fff
}

.van-sidebar-item--disabled {
    color: #c8c9cc
}

.van-sidebar-item--disabled:active {
    background-color: #fafafa
}

.van-sidebar {
    /**width:85px**/
}

.van-tabbar-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    color: #7d7e80;
    font-size: 12px;
    line-height: 1
}

.van-tabbar-item__icon {
    position: relative;
    margin-bottom: 5px;
    font-size: 18px
}

.van-tabbar-item__icon .van-icon {
    display: block;
    min-width: 1em
}

.van-tabbar-item__icon img {
    display: block;
    height: 18px
}

.van-tabbar-item--active {
    color: #354171
}

.van-tabbar-item .van-info {
    margin-top: 2px
}

.van-tabbar {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    box-sizing: content-box;
    width: 100%;
    height: 50px;
    background-color: #fff
}

.van-tabbar--fixed {
    position: fixed;
    bottom: 0;
    left: 0
}

.van-tabbar--safe-area-inset-bottom {
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom)
}

.van-list__error-text, .van-list__finished-text, .van-list__loading {
    color: #969799;
    font-size: 14px;
    line-height: 50px;
    text-align: center
}

.van-list__placeholder {
    height: 0;
    pointer-events: none
}

.home {
    padding-bottom: 50px
}

.notice-bar {
    position: fixed;
    top: 0;
    right: 0;
    width: -webkit-calc(100vw - 85px);
    width: calc(100vw - 85px);
    box-sizing: border-box;
    z-index: 1000
}

.side-bar {
    position: fixed;
    height: -webkit-calc(100vh - 50px);
    height: calc(100vh - 50px);
    left: 0;
    top: 0;
    overflow-y: auto;
    border-right: 0.5px solid #f5f5f5;
}

.goods-list {
    padding-top: 40px;
}

.goods-item {
    padding: 10px;
    height: 80px;
    position: relative;
    border-bottom: 0.5px solid #f5f5f5;
}

.goods-item .goods-pic {
    width: 80px;
    float: left;
    margin-right: 5px;
    height: 80px;
}

.goods-item .collect-btn {
    position: absolute;
    width: 30px;
    right: 10px;
    bottom: 10px
}

.goods-item h3 {
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    height: 40px
}

.goods-item p {
    font-size: 14px;
    margin: 5px 0 0;
    color: #666
}

.goods-item .process {
    height: 5px;
    background: #f0f0f0;
    border-radius: 5px;
    width: -webkit-calc(100vw - 230px);
    width: calc(100vw - 230px);
    float: left;
    margin-top: 8px;
    max-width: 100%
}

.goods-item .process>div {
    height: 5px;
    background: #fdbd22;
    border-radius: 5px;
    -webkit-transition: width .2s ease-out;
    transition: width .2s ease-out
}

.fish-list {
    max-height: 400px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch
}

.quick-set {
    padding: 0 15px 4px;
    font-size: 12px;
    color: #666;
    height: 28px;
    line-height: 28px
}

.quick-set span {
    float: left
}

.quick-set .quick-stepper {
    float: right
}

.fish-item {
    padding: 10px;
    height: 80px;
    position: relative
}

.fish-item .goods-pic {
    width: 80px;
    float: left;
    margin-right: 5px
}

.fish-item h3 {
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    height: 20px
}

.fish-item p {
    font-size: 14px;
    margin: 6px 0;
    color: #666
}

.fish-item p span {
    color: #ff009e;
    padding: 0 5px
}

.fish-item .num-input {
    height: 28px
}

.fish-item .remove-btn {
    float: right
}

.fish-item .count-stepper {
    float: left
}

.finished-tip {
    text-align: center;
    font-size: 14px;
    color: #999;
    line-height: 2
}

.fish-count {
    position: fixed;
    bottom: 50px;
    left: 0;
    width: 100%;
    line-height: 30px;
    padding: 5px 10px;
    box-sizing: border-box;
    background: #fff;
    font-size: 12px
}

.fish-count>span {
    color: #fc6307;
    padding: 0 5px
}

.fish-count button {
    float: right
}

.user-info {
    position: absolute;
    width: 100%;
    height: 48px;
    line-height: 48px;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 0 60px 0 5px;
    font-size: 14px
}

.user-info>span {
    display: block;
    float: left;
    box-sizing: border-box;
    padding-left: 10px
}

.user-info>span:first-child {
    width: 65%
}

.user-info>span:last-child {
    width: 35%
}

.pay-button {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0
}

.van-multi-ellipsis--l2, .van-multi-ellipsis--l3 {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical
}

.van-list {
    margin-left: 85px;
    margin-right: 5px;
    padding-top: 0;
}

.van-list ul.subTit {
    height: 40px;
    line-height: 43px;
    color: #858585;
    position: fixed;
    z-index: 999;
    background-color: #fff;
    width: -webkit-fill-available;
    width: fill-available;
    border-bottom: 1px solid #ffaa00;
    margin-left: -5px;
}

.van-list ul.subTit .curr {
    color: #ffaa00;
}

.van-list ul li {
    float: left;
    width: 25%;
    text-align: center;
    font-size: small;
    color: #858585;
}
