* {
    margin: 0;
    padding: 0;
}

.TopApp {
    min-width: 1100px;
    max-width: 1350px;
    margin: 0 auto;
}

#frame_b {
    height: calc(100vh - 45px);
    float: left;
    height: -webkit-calc(100vh - 45px);
}

#frame_c {
    height: calc(100vh - 45px);
    float: left;
    height: -webkit-calc(100vh - 45px);
}

#frame_d {
    height: calc(100vh - 45px);
    float: left;
    height: -webkit-calc(100vh - 45px);
}