body {
    background: #faf9f9;
}

.van-list__error-text, .van-list__finished-text, .van-list__loading {
    color: #969799;
    font-size: 14px;
    line-height: 50px;
    text-align: center
}

.van-list__placeholder {
    height: 0;
    pointer-events: none
}

.buy-list {
    background: #f7f7f7
}

.buy-list .buy-item {
    position: relative;
    margin-bottom: 10px;
    background: #fff
}


/* .buy-list .buy-item>div :first-child{padding:10px} */


/* .buy-list .buy-item>div :last-child{line-height:3;color:#666;font-size:12px;padding:5px 10px} */

.buy-list .buy-item>div:last-child>span :last-child {
    color: #fd7722;
    float: right
}

.buy-list .buy-item .goods-pic {
    width: 80px;
    float: left;
    margin-right: 5px
}

.buy-list .buy-item h3 {
    font-size: 14px;
    font-weight: 400;
    margin: 0
}

.buy-list .buy-item p {
    font-size: 12px;
    margin: 3px 0 0;
    color: #666
}

.buy-list .buy-item p span {
    color: #fd7722
}

.finished-tip {
    text-align: center;
    font-size: 14px;
    color: #999;
    line-height: 2
}

.van-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.buy-list .buy-item>div:last-child {
    line-height: 3;
    color: #666;
    font-size: 12px;
    padding: 5px 10px;
}

.buy-list .buy-item>div:last-child>span:last-child {
    color: #fd7722;
    float: right;
}

.buy-list .buy-item p {
    font-size: 12px;
    margin: 3px 0 0;
    color: #666;
}

.shdz {
    background: #fd7722;
    color: #fff!important;
    border-radius: 12px;
    width: 100px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    cursor: pointer;
}
